<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800338693808-9cs22vo2beovaj9jd3239pgr1fdijl40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800338693808-9cs22vo2beovaj9jd3239pgr1fdijl40</string>
	<key>API_KEY</key>
	<string>AIzaSyA6_Xo2pzf4GdxKabUqH8E1Tj5odEm6lTU</string>
	<key>GCM_SENDER_ID</key>
	<string>800338693808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kocakaysegul.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-479e7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-479e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800338693808:ios:9ab675bdb8d7fce51d7575</string>
</dict>
</plist>